<div class="veil" style="display:none"></div>
<nav>
    <section class="navbar">
        <div class="nav-back">
            <a id="back-button" href="#"><img src="../../assets/img/iconBack.png" alt="icon back"></a>
        </div>
        <div class="nav-title">
            {{title}}
        </div>
        <div class="nav-toggle-notifications">
            <a id="notification-button" href="#"><img src="../../assets/img/iconNotificacionesBlanco.png" alt="icon notification"></a>
            <a id="toggle-button" href="#"><img src="../../assets/img/iconMenulateralBlanco.png" alt="icon notification"></a>
        </div>
    </section>
    <section class="log-user">
        <div id="user-name">
            <p><img src="../../assets/img/oval.png" alt="oval" />{{username}}</p>
          </div>
    </section>
    <section class="side-nav">
        <div class="user-info">
            <div class="user-box">
                <img src="../../assets/img/avatarUniversalAzul.png" alt="">
                <p>{{username}}</p>
                <a href="#" id="close-toggle"><img src="../../assets/img/iconBack.png" alt="icon back"></a>
            </div>
        </div>
        <div class="routes-info">
            <ul>
                <li>
                    <a href="#"><img alt="iconHome" src="../../assets/img/iconHome.png"> INICIO </a>
                </li>
                <li>
                    <a href="#"><img alt="iconHome" src="../../assets/img/iconAreamedica2.png"> ÁREA MÉDICA </a>
                </li>
                <li>
                    <a href="#"><img alt="iconHome" src="../../assets/img/iconAgenda.png"> AGENDA Y CITAS </a>
                </li>
            </ul>
        </div>
    </section>
  
</nav>
